@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

/* font family for body  = open sans */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

/* font family for headings   = Lato*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

/* Universal styling */


*{
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.1s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;

}

/* my variables  */

:root{
    --heading-color : rgb(37, 53, 53);
    --button-color :darksalmon;
    --main-color : rgb(66, 59, 49);
}



/* end of variables */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4d4c4c;
    scroll-behavior: smooth;
    
 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #110f0f;
  }
h1,h2,h3,h4{
    font-family: 'Lato' , 'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    
}
sup{
    position: absolute;
left: 36.67%;
bottom: 97%;
font-size: 15px;
}

/* universal styling ends here */

/* Media Queries */

/* media query for desktop */

@media only screen and (min-width:1200px) {

    /* signin and up page  starts*/

    *{
        font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: all 0.2s linear;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
        
    }

.signup-body{
height: 100vh;
background-image: url(./imgaes/powder-and-make-up/trending2.png);
background-size: cover;
background-repeat: no-repeat;
background-position: left center;
display: flex;
}
.login-form{
    position: absolute;
    width: 25%;
    border: 2px solid;
   top: 15%;
   left: 56%;
   background-color: white;
   z-index: 3333;
   opacity: 50;
}
.login-form form {
    display: grid;
    width: 90% ;
    margin: 20px auto;
}
.login-form h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 10px;
    text-align: center;
}
.login-form form input{
    margin: 15px 0;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(156, 154, 154);
    text-transform: lowercase;
}
.login-form form input::placeholder{
    font-weight: 500;
    position: absolute;
     
    margin-left: 1%;
    font-size: 18px;
}
.login-form form button{
    margin: 20px auto;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    width: 40%;
    border: none;
    background-color: rgb(13, 15, 10);
    color: white;
    transition: 0.2s ease forward;
    
}
.login-form form button:hover{
background-color: rgb(50, 49, 48);
color: white;

}
.login-form #signup-btn{
    width: 60%;
    background-color: purple;
}
.login-form #signup-btn:hover{
    background-color: rgb(172, 5, 172);
    color: white;
}
.login-form form fieldset{
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    
}
.login-form form fieldset legend{
    text-transform: lowercase;
}
.login-form p{
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 13px;
}
.login-form a {
    text-decoration: none;
    color: rgb(54, 54, 244);
}
a button{
    height: 100vh;
}


/* sign in and up page ends here */


/* Homepage section starts here */


.homepage-body{
  
    width: 100vw;
    font-family: 'open sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(193, 189, 189);
    overflow-x: hidden;
    background-position: fill;
    background-repeat: no-repeat;
}
/* header section for home page */
header{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    display: flex;
    background-color: rgb(66, 59, 49);
}
.logoAndButtons{
    display: flex;
    width: 40%;
    height: 100%;
    padding: 4px;
    align-items: center;
    justify-content: space-around;
}
.logoAndButtons .logo{
    display: flex;
    color: white;
    width: 60%;
   align-items: center;
    justify-content: center;

}
.logo img{
    display: flex;
    width: 20px; 
     height: 20px; 
}

.logo h1{
    
    display: flex;
    font-size: 40px;
    font-family: 'open sans';
  
}
/* .logoAndButtons {
    display: flex;
    margin: 0px 30px;
    color: white;
    justify-content: space-around;
} */
.logoAndButtons .icons{
    display: flex;
    width: 30%;
    color: white;
    margin: 15px 10px;
    text-align: center;
    justify-content: space-around;
    font-size: 25px;
}
.s-section{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    height: 100%;
}
.s-section .searchButton{
    display: inline;
    /* margin-right: -5.5px; */
    padding: 10px;
    height: 70%;
    margin: 6px -5.5px 6px 0px ;
    border-radius: 10px 0px 0px 10px;
   font-size: 11px;
   border: 1px  rgb(49, 44, 37);
   font-weight: 600;
   background-color:blue;
   color: white;
   width: 50px;
}
.s-section .searchButton i{
    font-size: 20px;
}
.s-section #searchBar{
width: 50%;
height: 70%;
justify-content:left;
align-items: center;
margin: 6px;
margin-left: 0;
border-radius: 0px 10px 10px 0px;
border: 1px  rgb(66, 59, 49);
}
.category-menu{
    display: block;
    width: 100%;
    height: 50px;
    background-color:var(--heading-color) ;
    color: white;

}
.category-menu ul{
    display: flex;
    list-style: none;
    width: 90%;
    margin: auto;
   
    
}
.category-menu ul li{
    margin: 0 20px;
    text-decoration: none;
    padding: 10px;
}
/* end of header section for home page */

/* banner section begins here */

#banner{
width: 100%;
margin: -9px auto;  
}
#banner img{
    width: 100%;
    height: 600px;    
}

/* end of banner section */
.see-all-btn{
    display: flex;
   margin:10px auto;
    font-weight: 600;
    padding: 10px;
    align-items: center;
   
}


#skin-care {
    width: 99%;
    margin: auto;
}
#skin-care .container{
    margin: 20px 0;
    display: block;
    width: 100%;
   
    border: none;
    scroll-behavior: smooth;
    overflow-y: hidden;
    /* background-color: white;
     */
    
}
#skin-care .container:hover{
    overflow-x: scroll;
}

.product-heading{
font-family: 'lato','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 20px;
width: 100%;
height: 45px;
background-color: var(--heading-color);
color:white ;
border: 2px var(--heading-color);
padding: 5px;
font-size: 25px;

}


#skin-care .product-images{
    width: 200%;
    display: flex;
    padding: 10px;
    /* border: 1px solid; */
}
#skin-care .product-images .card {
    margin: 0 5px;
    border: 2px solid;
    width: 9%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    /* cursor: pointer; */
    border-radius: 5px;
    transition: 0.2s ease-in-out ;
 
}
#skin-care .product-images .card:hover{
    width: 9.5%;
}
#skin-care  .product-images .card  img{
width: 200px;
height: 200px;
margin: 15px auto;
border: 0.5px solid ;
/* border-radius: 5px; */


}
#skin-care .product-images .card .see-product{
    display: flex;
    margin: 5px auto;
    padding: 10px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(49, 44, 37);
}
#skin-care .product-images .card .see-product:hover{
    background-color: rgb(3, 44, 139);
    color: white;
}
#skin-care .product-images .card .see-product a{
    text-transform: capitalize;
}

/* trends section */

#trends {
width: 100%;
margin: 20px 0;
padding: 0.9rem;
border: 1px solid;
background-color: whitesmoke;
}
#trends .ontop{
width: 100%;
display: block;



}
#trends .text-left{

}
#trends .cards{
    display: flex;
    width: 100%;
    margin: auto;
}
#trends .cards .card{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
border: 1.5px solid rgb(80, 79, 79);
width: 15%;
padding: 15px 15px;
height: 450px;
margin-top: 15px;
background: white;
}
#trends .card img{
    margin-top: -10px;
    width: 200px;
    height: 210px;
    border: 0.5px solid rgb(189, 183, 183);
}
#trends .cards .card .product-info{
    text-align: center;
    margin: 15px;
    font-size: 15px;
    color: black;
    
}
 #trends .card button {
   padding: 10px;
    font-weight: 700;
    width: 70%;
    background-color: rgb(66, 59, 49);
    color: white;   
     
    border: 1px rgb(66, 59, 49) ;
}

/* trend section ends here */

/* footer section */
footer{
    width: 100%;
    height: 200px;
    background-color:  rgb(49, 44, 37);
    color: white;
    display: flex;
}
footer a{
    text-transform: lowercase;
}
footer .info-box{
    display: flex;
    /* margin: 40px 0; */
    width: 70%;
}
footer .box{
    margin: 20px 10px;
    width: 20%;
}
footer .box h2{
   text-align:  center;
}
footer .box p{
    margin: 5px;
    text-align: center;
}
footer .brand {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
footer .brand img{
    width: 60px;
    height: 60px;
    
}
/* footer ends */


/* Homepage section ends here */


}

/* Media queries for desktop ends here */

/* End of All Media Queries */
